.stepper-container {
  display: flex;
}

.step-container {
  display: flex;
  align-items: center;
  padding: 50px 0 80px 0;

  .step {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .step-active {
    background-color: #5a4ad1;
    color: white;
  }

  .step-inactive {
    border: 1px solid #d3d3d3;
    color: #40434a;
  }

  .meter {
    height: 2px;
    position: relative;
    background: #bdc5d6;
    border-radius: 25px;
    width: 40px;

    span {
      display: block;
      height: 100%;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      //   background-color: #847cc6;
      position: relative;
      overflow: hidden;
    }
  }

  .active {
    span {
      background-color: #847cc6;
    }
  }

  .inactive {
    span {
      background-color: transparent;
    }
  }
}
